body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAutocomplete-clearIndicator,
.MuiAutocomplete-popupIndicator {
  top: -8px;
}

.MuiTableCell-head {
  top: -10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.AppTable .MuiSvgIcon-root + .MuiFormControl-root {
  padding-top: 8px;
}

.AppTableFooter > .MuiTablePagination-root > .MuiToolbar-root {
  max-height: 48px;
  min-height: 48px;
}

.AppTable.fullscreen .MuiTableCell-footer {
  border-bottom: none;
}

.AppTable.fullscreen > *:nth-child(1) > *:nth-child(3) {
  max-height: calc(100vh - 54px - 56px - 56px - 2px + 1px + 7px) !important;
  height: calc(100vh - 54px - 56px - 56px - 2px + 1px + 7px) !important;
}

.AppTable.fullscreen .AppTableFooter > .MuiTablePagination-root {
  border-bottom: none;
}

@media (min-width: 600px) {
  .MuiTableFooter-root .MuiTablePagination-toolbar {
    min-height: 52px !important;
  }

  .AppTableFooter > .MuiTablePagination-root > .MuiToolbar-root {
    max-height: 52px;
    min-height: 52px;
  }

  .AppTable.fullscreen > *:nth-child(1) > *:nth-child(3) {
    max-height: calc(100vh - 54px - 64px - 64px + 1px) !important;
    height: calc(100vh - 54px - 64px - 64px + 1px) !important;
  }
}
